@using System.Security.Principal

<style>
    .nav-item:hover {
        display: block;
        background-color: #ddd;
        color: black;
        font-weight: 600
    }
</style>

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span>
        @* @if (Session["UserName"] != null)
        {
            @String.Concat("Hello, ", @Session["UserName"].ToString(), "(", @User.Identity.Name.ToString(), ")! | ")
            ;
        } *@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>

        </li>
}
else
{
        <li class="nav-item text-nowrap">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
            @* <a class="nav-link btn btn-primary btn-sm text-light" role="button" asp-area="" asp-controller="Account" asp-action="SignIn"><strong>Sign In</strong></a> *@
        </li>
}
</ul>
