@* @using System.Security.Principal *@
@using Microsoft.Identity.Web

<ul class="navbar-nav navbar-right">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="navbar-text text-dark">
    Hello @User.FindFirst(c => c.Type == "name")?.Value! |
    </li >

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
    </li>
}
else
{
    <li class="nav navbar-nav">
        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
    </li>
}
</ul>