@using ESL.Mvc.ViewModels
@model PlantMenuViewModel

@addTagHelper *, ViewComponentsSample

<select asp-for="FacilNo" asp-items="Model.PlantSelectList" class="form-control">
    <option value="">Select a Plant</option>
</select>
