@using Microsoft.Graph
@using testCoreWeb.ViewModels
@model PlantViewModel
<style>
    fieldset, legend {
    all: revert;
    }

    .reset {
    all: revert;
    }
</style>
@{
    ViewData["Title"] = "Home Page";

}

<div class="container-fluid col-8 .bg-body-secondary">
    <div class="row justify-content-center">
        <strong>Good morning, Lihan (u06337)</strong>
    </div>
    <form asp-area ="" asp-controller="" asp-action="index">
        <fieldset class="reset bg-info card">
            <legend ><p><strong>Please select the facility of your shift:</strong></p></legend>
            @* </fieldset> *@
        <div class="row justify-content-left">
            <div class="col-6">
                <div class="form-group" id="selectaplant">
                    <div class="container mt-1">
                        <ol class="btn-group btn-group-justified text-center mb-2 g-2" id="selectable">
                            <li><button type="button" class="btn m-1" value="1">OCC</button></li>
                            <li><button type="button" class="btn m-1">Diemer</button></li>
                            <li><button type="button" class="btn m-1">Jensen</button></li>
                            <li><button type="button" class="btn m-1">Mills</button></li>
                            <li><button type="button" class="btn m-1">Weymouth</button></li>
                            <li><button type="button" class="btn m-1">Skinner</button></li>
                            <div class="btn-group btn-group-justified text-center mb-2 g-2"></div>
                            <li><button type="button" class="btn m-1">DOCC</button></li>
                            <li><button type="button" class="btn m-1">Intake</button></li>
                            <li><button type="button" class="btn m-1">Gene</button></li>
                            <li><button type="button" class="btn m-1">Iron</button></li>
                            <li><button type="button" class="btn m-1">Eagle</button></li>
                            <li><button type="button" class="btn m-1">Hinds</button></li>
                            @if (1 == 2)
                            {
                                <div class="btn-group btn-group-justified text-center mb-2 g-2"></div>
                                <li><button type="button" class="btn m-1">DVL</button></li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <strong>For Operators Only</strong>

            <div class="col-4">
                <div class="form-group align-content-end mb-2">
                    <label class="align-content-center text-black" for="SelectOperatorType">Operator Type</label>
                    <select class="form-control col-2" id="operatortype" placeholder="Select your role as -" name="operatortype" aria-describedby="opTypeHelp">
                        <option value=""> n/a </option>
                        <option value ="1" active>Primary</option>
                        <option value="2">Secondary</option>
                    </select>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group align-content-end mb-2">
                    <label class="control-label col-sm-4" for="selectShift">Shift</label>
                    <select class="form-control col-2" id="shift" placeholder="Shift" name="shift" aria-describedby="shiftHelp">
                        <option value=""> n/a </option>
                        <option value="1">Day</option>
                        <option value="2">Night</option>
                    </select>
                </div>
            </div>
        </div>

        <div>Test Section on Dev
            <div class="col-3">
                <div class="form-group">
                    <select asp-for="FacilNo" asp-items="Model.Plants" class="form-control">
                                    <option value="">Select a Plant</option>
                    </select>                   
                </div>
            </div>
        </div>
        </fieldset>
    </form>
</div>

<div>
    <div class="container col-6 justify-content-center">
                <div><strong>Good morning, Lihan (u06337)</strong></div>
        <form class="form-inline border-success rounded-3" asp-area="" asp-controller="" asp-action="index">
        <fieldset class="reset bg-warning card">
                @* <legend class="reset"><strong>Good morning, Lihan (u06337)</strong></legend> *@
                <div class="container">

                <div class="col-6 justify-content-center">
                    <div class="form-group.aligh-content-center mb-4">
                            @* <label class="align-content-center text-black" for="SelectFacility">Facility</label> *@
                        <input type="text" class="form-control" placeholder="Lihan Chen" readonly>
                    </div>
    			
                        <div class="form-group align-content-end mb-4">
                    <label class="align-content-center text-black" for="SelectOperatorType">Operator Type</label>
                        <select class="form-control col-2" id="operatortype" placeholder="Select your role as -" name="operatortype" aria-describedby="opTypeHelp">
                        <option active>Primary</option>
                        <option>Secondary</option>
                    </select>
                </div>
                
                <div class="form-group mb-4">
                    <label class="control-label col-sm-4" for="selectShift">Shift</label>
                        <select class="form-control col-6" id="shift" placeholder="Shift" name="shift" aria-describedby="shiftHelp">
                        <option>Day</option>
                        <option>Night</option>
                    </select>
                </div>

                
            </div>
        </div>
               <div class="dropdown mx-3">
                    <button class="btn btn-default dropdown-toggle" type="button" id="plantDropdownMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Genre
                    </button>
                        <div class="dropdown-menu" aria-labelledby="plantDropdownMenu">
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">OCC</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Diemer</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Jensen</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Mills</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Weymouth</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Skinner</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Desert</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Intake</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Gene</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Iron</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Eagle</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">Hinds</button>
                            <button class="dropdown-item" type="button" onclick="showGenre(this)">DVL</button>
                        </div>
               </div>
                        <div class="checkbox g-3">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Continue</button>
                @* <ol id="selectable">
                    @foreach (var plant in Model.Plants)
                    {
                        <li>
                            @Html.ActionLink(@plant.Text.Split(' ').ElementAt(0), "SetFacil", new { facilNo = plant.Value, returnUrl = ViewBag.ReturnUrl })
                        </li>
                    }
                </ol> *@
            </fieldset>
    </form>
        
    @* <form asp-area="" asp-controller="" asp-action="" class="row bg-info g-3 align-self-center m-4 bg-gradient">
        <div class="col">
                <div class="form-group align-content-end mb-4">
                    <label class="align-content-center text-black" for="SelectOperatorType">Operator Type</label>
                    <select id="SelectOperatorType" class="form-control col-2" aria-describedby="opTypeHelp">
                        <option active>Primary</option>
                        <option>Secondary</option>
                    </select>*@
                    @* <small id="opTypeHelp" class="form-text text-muted">Please select the operatory type you are working on.</small> *@
                @* </div>
        </div>

        <div class="col">
                <div class="form-group mb-4">
                    <label class="control-label col-sm-4" for="selectShift">Shift</label>
                    <select id="shift" class="form-control col-6" aria-describedby="shiftHelp">
                        <option>Day</option>
                        <option>Night</option>
                    </select> *@
                    @* <small id="shiftHelp" class="fo<rm-text text-muted">Please select the shift you are working on.</small> *@
                @* </div>
        </div>

        <div class="row-col-12">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shiftFflexRadio" id="shiftFflexRadio1">
                        <label class="form-check-label" for="shiftFflexRadio1">
                            Day Shift
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="shiftFflexRadio" id="shiftFflexRadio2" checked>
                        <label class="form-check-label" for="shiftFflexRadio2">
                            Night Shift
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="shiftFlexSwitchCheckDefault">
                        <label class="form-check-label" for="shiftFlexSwitchCheckDefault">Day Shift (default)</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="opTypeFlexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="opTypeFlexSwitchCheckChecked">Operator Type: Primary (checked)</label>
                    </div>
                </div>
        </div>

        <div class="row">
                <div class="form-group mb-4">
                    <label class="control-label col-sm-4" for="selectShift">Date</label>
                    <select type="Date" id="date" class="form-control col-6" aria-describedby="shiftHelp">
                        <option>Day</option>
                        <option>Night</option>
                    </select> *@
                    @* <small id="shiftHelp" class="fo<rm-text text-muted">Please select the shift you are working on.</small> *@
                @* </div>
        </div>
        <div class="form-group mb-4">
            @* <label class="control-label col-sm-6" for="selectFacil">Please select one facility from the list</label> *@
            @*<select id="facil" class="form-select col-sm-5" aria-describedby="facilHelp">
                    <option selected>Please select one facility from the list</option>
                <option class="plantListOption" value="1">OCC</option>
                    <option class="plantListOption" value="2">Diemer</option>
                    <option class="plantListOption" value="3">Jensen</option>
                <option value="4">Mills</option>
                <option value="5">Weymouth</option>
                <option value="6">Skinner</option>
                <option value="7">Desert</option>
                <option value="8">Intake</option>
                <option value="9">Gene</option>
                <option value="10">Iron</option>
                <option value="11">Eagle</option>
                <option value="12">Hinds</option>
                <option value="13">DVL</option>
            </select> *@
            @* <small id="facilHelp" class="form-text text-muted">Please select the facility you are working on.</small> *@
        @* </div>

            <div class="form-group col-sm-offset-2 col-sm-10 ">
                
            </div>

            <ol class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Much longer nav link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Much longer nav link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ol> *@

            @* <ol id="selectable">
                @foreach (var plant in Model)
                {
                    <li>
                        @Html.ActionLink(@plant.FacilName.Split(' ').ElementAt(0), "SetFacil", new { facilNo = plant.FacilNo, returnUrl = ViewBag.ReturnUrl })
                    </li>
                }
            </ol> *@
        
        @* <div class="form-group form-check col-sm-offset-2 col-sm-10 ">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        <button type="submit" class="btn col-4 offset-4 mb-3 align-content-center btn-primary">Submit</button>

    </form> *@ 
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
<script type="text/javascript">
    $(function () {
        $("#selectable").selectable(
        {
            selected: ClickOnLink
        })
        .bind("selected", ClickOnLink);
        
        $("#select").on('click', function (event, ui) {
            $("#selectable li").addClass("ui-selected");
            $("#selectable").trigger("selected");
        });

        function ClickOnLink() {
            $(this).on('click', function (e) {
                $(".ui-selected").click();
                $("facilno").innerHTML = $(this).text();
                            alert($(this).text())
            })
        }

        function showGenre(item) {
                    document.getElementById("plantDropdownMenu").innerHTML = item.innerHTML;
            }
    });
</script>
}