@using testCoreWeb.ViewModels
@model PlantViewModelGroup

@{
    ViewData["Title"] = "Home Page";
}

<form class="form-control bg-light"asp-area="" asp-controller="Home" asp-action="Index" method="post">
@*     <select asp-for="LogTypeNo" asp-items="Model.LogTypes"></select> *@
    <select asp-for="FacilNo" asp-items="Model.Plants"></select>
    <br />
    <button type="submit">Select</button>
</form>
